@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Privacy Policy Page</h1>
            <hr />
            <p>Thank you for visiting our Privacy Policy page. Here, we strive to inform you about our practices concerning the collection, utilization, and sharing of personal information while you browse our website.</p>
            <p>When you use our service, you consent to the collection and utilization of information in accordance with this policy.</p>
            <h2>Information Collection and Use</h2>
            <p>We gather various types of information for different purposes to enhance and maintain our service to you.</p>
            <h3>Types of Data Collected</h3>
            <ul>
                <li>Personal Data</li>
                <li>Usage Data</li>
                <li>Tracking & Cookies Data</li>
            </ul>
            <h2>Use of Data</h2>
            <p>The data we collect serves several purposes, including:</p>
            <ul>
                <li>Maintaining and providing the service</li>
                <li>Informing you about service changes</li>
                <li>Enabling participation in interactive features</li>
                <li>Offering customer support</li>
                <li>Providing analysis for service improvement</li>
                <li>Monitoring service usage</li>
                <li>Detecting, preventing, and addressing technical issues</li>
            </ul>
            <h2>Security of Data</h2>
            <p>While we prioritize the security of your data, please remember that no method of transmission over the Internet or electronic storage is completely secure.
